name: Semgrep + Maven Dependency Tree

on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches:
      - main
      - master
    paths:
      - .github/workflows/semgrep.yml

jobs:
  build-dependency-tree:
    name: Generate Maven Dependency Tree
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: temurin

      - name: Generate dependency tree
        run: mvn dependency:tree -DoutputFile=maven_dep_tree.txt -Dmaven.test.skip=true

      - name: Archive dependency tree
        run: zip -r dependency_tree.zip maven_dep_tree.txt

      - name: Upload dependency artifact
        uses: actions/upload-artifact@v3.1.4
        with:
          name: dependency-tree
          path: dependency_tree.zip

  semgrep:
    name: Semgrep Scan
    needs: build-dependency-tree
    runs-on: ubuntu-latest
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: semgrep/semgrep
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Maven dependency artifact
        uses: actions/download-artifact@v3.0.2
        with:
          name: dependency-tree

      - name: Unzip dependency tree
        run: unzip -o dependency_tree.zip

      - name: Run Semgrep CI
        run: semgrep ci
